.nav a{
  
  font-size: 18px;
  font-weight: 700;
   
  /*   border-bottom-width:5px ;
    border-bottom-color:red ;
    border-bottom-style:solid ;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
  
  /*   border-top-width:5px ;
    border-top-color:red ;
    border-top-style:solid ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  */
  }

.icon{
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  box-shadow: #fffefe 2px 2px 6px, #4d4d4d -2px -2px 6px;
}

.icon i{
 margin-top: 5px;
}